* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.container {
    width: $container-xl;

    margin: 0 auto;
    margin-top: $spacing-xxl;

    position: relative;

    @include media-lg-max {
		width: $container-lg;
    }
}

.section {

	&.section--content {
		max-width: 410px;
		float: left;
		margin-top: 155px;

		position: relative;
		z-index: 1;

		@include transition(opacity, $duration: 1s);

		.wf-loading & {
	        opacity: 0;
	    }

		.wf-active & {
	        opacity: 1;
	    }
	}

	&.section--gallery {
		float: right;

		@include media-lg-max {
			.gallery {
				left: 20%;
			}
    	}
	}

}