* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: $container-xl;

    margin: 0 auto;
    margin-top: $spacing-xxl;

    position: relative;
}

.section {

	&.section--content {
		max-width: 410px;
		float: left;
		margin-top: 125px;
	}

	&.section--gallery {
		float: right;
	}

}