* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $color-gray-lightest;

    &.wf-active body {
        opacity: 1;
        transform: translateY(0);
    }

    &.wf-loading body {
        opacity: 0;
        transform: translateY(-$spacing-m);
    }
}

body {
    background-color: $color-gray-lightest;
    @include transition((opacity, transform), $transition-duration-alt);
}

.pull-left {
    float: left;
}
.pull-right {
    float: left;
}
.clear-l {
    margin-left: 0 !important;
}

.section {
    width: 100%;
    overflow: hidden;

    padding-bottom: $spacing-xl;

    &.section--reversed {
        .section__content-wrapper {
            padding-left: 4em;
            padding-right: 5em;
            float: right;
        }

        .section__img {
            float: left;
        }
    }

    &__content-wrapper {
        padding-left: 6em;
        float: left;
    }

    &__img {
        width: 600px;
        height: 400px;

        overflow: hidden;
        position: relative;

        float: right;
        line-height: 0;

        img {
            width: 100%;
        }

        &.section__img--auto {
            height: auto;
        }

        &__cite {
            position: absolute;
            bottom: $spacing-s;
            left: $spacing-s;

            font-size: $size-xs;
            color: white;

            line-height: 1em;

            opacity: .9;

            background-color: $color-base;
            padding: $spacing-s $spacing-s;
        }
    }

    @include media($max-width: $container-xl){
        &__content-wrapper {
            padding-left: 0;
        }
        &.section--reversed {
            .section__content-wrapper {
                padding-right: 0;
            }
        }
    }

    @include media-lg {
        &__img {
            width: 480px;
            height: 320px;
        }
    }

    @include media-md {
        &__img {
            width: 370px;
            height: 250px;
        }
    }

    @include media-sm-max {
        &__img {
            width: 100%;
            height: auto;
            margin-bottom: $spacing-m;

            &__cite {
                bottom: 1.5em;
            }
        }

        &.section--reversed {
            .section__content-wrapper {
                padding-left: 0;
            }
        }
    }

    @include media-sm-max {
        padding-bottom: $spacing-l;
    }
}