.container {
    width: $container-xl;
    margin: 0 auto;
    position: relative;

    @include media-lg {
        width: $container-lg;

        .container-lg {
            width: $container-lg;
        }
    }
    @include media-md {
        width: $container-md;

        .container-md {
            width: $container-md;
        }
    }
    @include media-sm {
        width: $container-sm;
    }
}

.block {
    padding-top: $spacing-xl;

    &.block--big {
    	padding-top: $spacing-xxl;
    }

    &:last-child {
        padding-bottom: $spacing-xl;
    }

    @include media-sm {
        padding-top: $spacing-l;

        &.block--big {
            padding-top: $spacing-xl;
        }
    }
}

.text-small {
	font-size: $size-s;
}

.text-faded {
	opacity: .8;
}