.container {
    width: $container-xl;
    margin: 0 auto;
    position: relative;

    @include media-lg {
        width: $container-lg;
    }
    @include media-md {
        width: $container-md;
    }
    @include media-sm {
        width: $container-sm;

        &.container--no-sm {
            width: auto;
        }
    }
    @include media-xs {
        width: $container-xs;

        &.container--no-xs {
            width: auto;
        }
    }
}

@include media-xs {
    .container-xs {
        width: $container-xs;
        margin: 0 auto;
        position: relative;
    }
}

@include media-sm {
    .container-sm {
        width: $container-sm;
        margin: 0 auto;
        position: relative;
    }
}

.block {
    padding-top: $spacing-xl;

    p:last-child {
        margin-bottom: 0;
    }

    &:last-child {
        padding-bottom: $spacing-xl;
    }

    @include media-sm-max {
        padding-top: $spacing-m;

        &:last-child {
            padding-bottom: $spacing-m;
        }
    }
}

.text-small {
	font-size: $size-s;
}

.text-faded {
	opacity: .8;
}

.text-accent {
    color: $color-accent;
    border-color: $color-accent;
}