body {
    font: $weight-body $size-m $family-body;
    color: $color-base;
    line-height: $line-height-body;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $family-heading;
    font-weight: $weight-heading;
    line-height: $line-height-heading;
    margin-bottom: $spacing-xxs;
}

h1 {
    font-size: 3.5em;
}

u {
    line-height: $size-s;
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 5px $color-accent;
}

.h--subline {
    font: $weight-body-medium $size-l $family-body;
    margin-bottom: $spacing-m;
}

a {
    &.a--bold {
        font-weight: $weight-body-bold;
        text-decoration: none;

        color: $color-base;
        border-bottom: solid 2px $color-base;

        @include transition(border-color);

        &:hover {
            border-color: $color-accent;
        }
    }

    &.a--fade {
        opacity: .7;
        @include transition(opacity);

        &:hover {
            opacity: 1;
        }
    }
}