body {
    font: $weight-body $size-m $family-body;
    color: $color-base;
    line-height: $line-height-body;

    @include media-xs {
        font-size: $size-m-sm;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $family-heading;
    font-weight: $weight-heading;
    line-height: $line-height-heading;
    margin-bottom: $spacing-xxs;

    &.h--title {
        @extend u;
    }

    &.h--sub {
        font-family: $family-body;
        line-height: $line-height-heading-l;
    }

    @include media-sm-max {
        margin-bottom: $spacing-s;
    }
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p {
    margin-bottom: $spacing-m;
    line-height: $line-height-body;
}

strong, b {
    font-weight: $weight-body-bold;
}

u {
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
    @include border(bottom, $color: $color-base);
}

a {
    color: $color-base;
    //@include border(bottom, $color: rgba($color-base, .1));
    background-color: rgba($color-accent, .15);
    text-decoration: none;

    @include transition(all);

    &:hover, &.a--clean:hover {
        //border-color: $color-base;
        background-color: rgba($color-accent, .3);
    }

    &.a--clean {
        background-color: rgba($color-accent, 0);
    }
}

ul {

    &.list--multi-line li {
        line-height: $line-height-body-s;
        margin-bottom: $spacing-s;
    }

    &.list--clean {
        li {
            display: block;
        }
    }

    &.list--inline {
        li {
            display: inline-block;
            margin-right: $spacing-m;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include media-xs {
        margin-bottom: $spacing-s;
    }

}