//Container widths
$container-xs: 90%;
$container-sm: 500px;
$container-md: 740px;
$container-lg: 960px;
$container-xl: 1024px;


//Typography
$family-body: 'adelle-sans', 'Open Sans', Helvetica, Arial, sans-serif;
$family-heading: 'adelle', 'Museo', Helvetica, Arial, sans-serif;

$weight-body: 500;
$weight-body-bold: 700;
$weight-heading: 500;

$line-height-body: 2em;
$line-height-body-s: 1.5em;
$line-height-heading: 1.2em;
$line-height-heading-l: 1.8em;

$size-s: .9em;
$size-m: 16px;
$size-m-sm: 14px;


//Colors
$color-base: #222;
$color-gray-lightest: #f7f7f7;
$color-accent: #007B85;


//Spacings
$spacing-xxs: .3em;
$spacing-xs: .5em;
$spacing-s: .8em;
$spacing-m: 1.8em;
$spacing-l: 3em;
$spacing-xl: 5em;
$spacing-xxl: 10em;


//Borders
$border-style: solid;
$border-width: 2px;


//Animations
$transition-duration: .2s;
$transition-timing: ease;