//Container widths
$container-xl: 1200px;

//Typography
$family-body: 'sofia-pro', 'Open Sans', Helvetica, Arial, sans-serif;
$family-heading: 'adelle', 'Museo', Helvetica, Arial, sans-serif;

$weight-body: 500;
$weight-body-bold: 700;
$weight-heading: 700;

$line-height-body: 1.5em;
$line-height-heading: 1.2em;

$size-s: .9em;
$size-m: 16px;
$size-l: 1.12em;


//Colors
$color-base: #000000;
$color-accent: #EFD352;


//Spacings
$spacing-xxs: .15em;
$spacing-xs: .5em;
$spacing-s: .8em;
$spacing-m: 1.8em;
$spacing-l: 2.5em;
$spacing-xl: 5em;
$spacing-xxl: 10em;


//Borders
$border-style: solid;
$border-width: 2px;


//Animations
$transition-duration: .2s;
$transition-duration-alt: 1s;
$transition-timing: ease;