extend inc/template

block content

    .container

        section.section.section--content
            h1
                u Koen
                |  Vendrik

            p.p--intro.
                Software Dev, Interaction Designer, Entrepreneur, Geek, will eat your cookie

            ul.list--block
                li
                    | Currently 
                    b Blackdove
                li 
                    | Previously 
                    b Whitespell

            ul.list--inline
                li
                    include ../../www/img/github.svg
                li
                    include ../../www/img/dribbble.svg
                li
                    include ../../www/img/codepen.svg
                li
                    include ../../www/img/linkedin.svg
                li
                    include ../../www/img/medium.svg

        section.section.section--gallery
            section.gallery
                .gallery__right-top
                    img(src="")
                .gallery__middle
                    img(src="")
                .gallery__left-btm
                    img(src="")