extend inc/template

block content

    .container

        section.section.section--content
            h1
                u Koen
                |  Vendrik

            p.p--intro.
                Software Dev, Interaction Designer, Entrepreneur, Dutch, will eat your cookie

            ul.list--block
                li
                    | Currently 
                    a.a--bold(href="http://blackdove.com" title="Blackdove") Blackdove
                li 
                    | Previously 
                    a.a--bold(href="http://whitespell.com" title="Whitespell") Whitespell

            ul.list--inline
                li
                    a.a--fade(href="http://github.com/kvendrik" title="Visit my Github")
                        include ../../www/img/github.svg
                li
                    a.a--fade(href="http://dribbble.com/kvendrik" title="Visit my Dribbble")
                        include ../../www/img/dribbble.svg
                li
                    a.a--fade(href="http://codepen.io/kvendrik" title="Visit my Codepen")
                        include ../../www/img/codepen.svg
                li
                    a.a--fade(href="http://linkedin.com/in/kvendrik" title="Visit my Linkedin")
                        include ../../www/img/linkedin.svg
                li
                    a.a--fade(href="http://medium.com/@kvendrik" title="Visit my Medium")
                        include ../../www/img/medium.svg

        section.section.section--gallery
            section.gallery
                .gallery__item.gallery__item--top-right
                    img(src="/www/img/koen-vendrik-dutch-open.jpg")
                .gallery__item.gallery__item--middle
                    img(src="/www/img/koen-vendrik-portrait.jpg")
                .gallery__item.gallery__item--btm-left
                    img(src="/www/img/koen-vendrik-slush.jpg")