extend inc/template

block content

    .container.container--no-xs
        section.hero

            .hero__content-wrapper.column.column--5

                .hero__content
                    .container-xs
                        h1.hero__content__title
                            u.text-accent Koen
                            span.text-faded  Vendrik
                        h6.h--sub.hero__content__sub-title.
                            Young tech entrepreneur and Full Stack Developer

                        ul.list--clean.text-faded.hero__content__list
                            li
                                a.a--clean(href="http://twitter.com/kvendrik" title="Check out my Twitter") @kvendrik
                            li
                                a.a--clean(href="http://twitter.com/_whitespell" title="Check out Whitespell's Twitter") @_whitespell
                            li
                                a.a--clean(href="http://twitter.com/duxil_io" title="Check out Duxilio's Twitter") @duxil_io

            .hero__img-wrapper.column.column--7
                .hero__img
                    img(src="/img/koen-shirt.jpg")

    .container

        section.column.block

            .column.column--4.column--xs--12.column--sm--12
                h5.h--title What I (try to) do

            .column.column--5.column--md--7.column--xs--12.column--sm--12
                :markdown
                    [**How you doing?**](https://www.youtube.com/watch?v=YjQ1xD6UL-4)
                    I’m Koen, a young tech entrepreneur and full stack software developer
                    who works on making technology more human friendly.

                    **Working** at and having co-founded companies like [Whitespell](http://whitespell.com)
                    and [Duxilio](http://duxilio.com) I have the pleasure to work with great talented folks
                    from companies like [Google](http://developers.google.com "Google Developers Website"),
                    [Médecins Sans Frontières](http://www.msf.org.uk/ "MSF UK Website") and [Hack4Good](http://hack4good.io/ "Hack4Good Website") on awesome projects
                    like [Project Buendia](http://www.bbc.com/news/health-31970731).

                    **Contact** me at any time for anything, a good talk is always welcome.

        section.column.block
            .column.column--4.column--xs--12.column--sm--12
                h5.h--title Recent Highlights

            .column.column--4.column--xs--12.column--sm--6
                ul.list--multi-line
                    li
                        a.a--clean(href="http://www.bbc.com/news/health-31970731" title="BCC News piece about Project Buendia")
                            b BBC News
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="http://magazine.good.is/articles/googles-ebola-proof-tablets" title="GOOD on Project Buendia")
                            b GOOD
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="http://www.engadget.com/2015/03/20/google-ebola-proof-tablet/" title="Engadget on Project Buendia")
                            b Engadget
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="http://www.cityam.com/212100/how-google-ended-creating-ebola-proof-tablet" title="City A.M. on Project Buendia")
                            b City A.M.
                            |  wrote about Project Buendia
                            br
                            small March 2015
            .column.column--4.column--xs--12.column--sm--6
                ul.list--multi-line
                    li
                        a.a--clean(href="http://www.theverge.com/2015/3/20/8267259/google-tablet-ebola-chlorine" title="The Verge on Project Buendia")
                            b The Verge
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="http://www.telegraph.co.uk/news/worldnews/ebola/11485946/Ebola-proof-tablet-designed-by-Google-rolled-out-in-Sierra-Leone-disease-centre.html" title="The Telegraph on Project Buendia")
                            b The Telegraph
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="http://www.wired.com/2015/03/google-builds-new-tablet-fight-ebola/" title="Wired on Project Buendia")
                            b Wired
                            |  wrote about Project Buendia
                            br
                            small March 2015
                    li
                        a.a--clean(href="https://fd.nl/economie-politiek/1097718/artsen-zonder-grenzen-vroeg-me-na-te-denken-over-bestrijding-ebola" title="fd on Project Buendia")
                            b fd
                            |  wrote about Project Buendia
                            br
                            small March 2015

        section.column.block
            .column.column--4.column--xs--12.column--sm--12
                h5.h--title Get in touch

            .column.column--3.column--xs--12.column--sm--6
                ul
                    li
                        a.a--clean(href="tel:+31657357246" title="Call me maybe?") +31 6 57 35 72 46
                    li
                        a.a--clean(href="mailto:k.vendrik@gmail.com" title="Send me an email") k.vendrik@gmail.com

            .column.column--4.column--xs--12.column--sm--6
                ul
                    li
                        a.a--clean(href="http://twitter.com/kvendrik" title="Check out my Twitter") @kvendrik
                    li
                        a.a--clean(href="http://linkedin.com/in/kvendrik" title="Check out my Résumé") linkedin.com/in/kvendrik
                    li
                        a.a--clean(href="http://github.com/kvendrik" title="Have a look at my open-source projects") github.com/kvendrik



