extend inc/template

block content

    .container

        section.section.section--content
            h1
                u Koen
                |  Vendrik

            h2.h--subline.
                Front-end Developer, Entrepreneur, Dutch, based in Ottawa, Canada.

            ul.list--block
                li 
                    | Currently 
                    a.a--bold(href="http://shopify.com" target="_blank" title="Check out Shopify") Shopify
                li
                    div.list__multiline-left Previously&nbsp;
                    div.list__multiline-right
                        a.a--bold(href="http://cointaxes.com" target="_blank" title="Check out Cointaxes") Cointaxes
                        |  & 
                        a.a--bold(href="http://blackdove.com" target="_blank" title="Check out Blackdove") Blackdove

            ul.list--inline
                li
                    a.a--fade(href="http://github.com/kvendrik" target="_blank" title="Visit my Github")
                        include ../../www/img/github.svg
                li
                    a.a--fade(href="http://dribbble.com/kvendrik" target="_blank" title="Visit my Dribbble")
                        include ../../www/img/dribbble.svg
                li
                    a.a--fade(href="http://codepen.io/kvendrik" target="_blank" title="Visit my Codepen")
                        include ../../www/img/codepen.svg
                li
                    a.a--fade(href="http://linkedin.com/in/kvendrik" target="_blank" title="Visit my Linkedin")
                        include ../../www/img/linkedin.svg
                li
                    a.a--fade(href="http://medium.com/@kvendrik" target="_blank" title="Visit my Medium")
                        include ../../www/img/medium.svg

        section.section.section--gallery
            section.gallery
                .gallery__item.gallery__item--top-right
                    a(href="https://github.com/kvendrik" target="_blank" title="Visit my Github")
                        img(src="/www/img/koen-vendrik-dutch-open.jpg" alt="Koen at Dutch Open Hackathon")
                .gallery__item.gallery__item--middle
                    a(href="http://www.youtube.com/watch?v=YjQ1xD6UL-4&t=1m14s" target="_blank" title="Hello? It\'s me.")
                        img(src="/www/img/koen-vendrik-portrait.jpg" alt="Koen Vendrik Portrait")
                .gallery__item.gallery__item--btm-left
                    a(href="https://www.youtube.com/watch?v=WRuU6TqxOs0" target="_blank" title="Taplicious Pitch @ Slush 2015")
                        img(src="/www/img/koen-vendrik-slush.jpg" alt="Taplicious Pitch @ Slush 2015")