ol,ul {
	margin-bottom: $spacing-l;
}

.list--block li {
	display: block;
	margin-bottom: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.list--inline li {
	display: inline-block;
	margin-right: $spacing-s;

	&:last-child {
		margin-right: 0;
	}
}

.list__multiline-left,
.list__multiline-right {
	overflow: hidden;
}

.list__multiline-left {
	float: left;
}