* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: weight(body) $size-base family(body);
  color: color(body-text);

  @include breakpoint-tablet-max {
    font-size: 14px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3vw;

  @include breakpoint-tablet-max {
    padding: 5vw;
  }
}

.page-content {
  transition: transition(all, slow);
  transform-origin: bottom center;

  @include page-loading {
    opacity: 0;
    transform: translateY(spacing());
  }
}
