* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

html {
  font: weight(body) map-get($sizes-bases, desktop) family(body);
  color: color(body-text);
  line-height: 1.5em;

  @include breakpoint-tablet-max {
    font-size: map-get($sizes-bases, mobile);
  }
}

body {
  transition: transition(opacity, slower);
  display: flex;
  align-items: center;
}

.body--is-hidden {
  opacity: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3vw;

  @include breakpoint-tablet-max {
    padding: 5vw;
  }
}

.page-content {
  transition: transition(all, slower);
  transform-origin: bottom center;

  margin-bottom: 8vw;
  margin-top: 6vw;

  @include page-loading {
    opacity: 0;
    transform: translateY(spacing());
  }
}

.skip-to-content-link {
  position: fixed;
  left: 0;
  transform: translateX(-100%);

  &:focus {
    transform: translateX(0);
  }
}
