.highlight {
  position: relative;
  display: inline;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.32em;
    left: 0;
    right: 0;
    height: 0.25em;
    background: color(accent);
    z-index: -1;
  }
}

.highlight--strike {
  &::after {
    transition: transition(transform, 'slow');
    transform-origin: left center;
    transform: scaleX(1);
    transition-delay: 1.25s;

    @include page-loading {
      transform: scaleX(0);
    }
  }
}

.highlight--shopify::after {
  background: color(brand-shopify);
}
