$key-size: rem(16px);

.body--konami-viz-active .mastfoot {
  opacity: 1;
}

.konami-viz {
  display: flex;
  align-items: center;
  font-weight: weight(body-text-icon);
  visibility: visible;
  opacity: 1;
  transition: transition(all, slower);
}

.konami-viz--is-hidden {
  visibility: hidden;
  opacity: 0;
}

.konami-viz__key {
  width: $key-size;
  height: $key-size;
  line-height: $key-size;
  font-size: $key-size;
  display: block;
  overflow: hidden;
  text-align: center;
  opacity: text-opacity(strong);
  transition: transition(opacity);
  margin-right: spacing(extra-tight);

  &:last-child {
    margin-right: 0;
  }
}

.konami-viz__key--is-completed {
  opacity: 1 !important;
}

.konami-viz__key--is-pressed {
  animation: konami-viz__blink duration(slower) easing();
}

@keyframes konami-viz__blink {
  from {
    opacity: 1;
  }
  to {
    opacity: text-opacity(strong);
  }
}
