.konami-viz {
  display: flex;
  align-items: center;
  font-weight: weight(body-text-icon);
}

.konami-viz__key {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  display: block;
  margin-right: 1rem;
  overflow: hidden;
  text-align: center;
  opacity: 0.5;
  transition: opacity .25s ease;
  
  &:last-child {
    margin-right: 0;
  }
}

.konami-viz__key--is-completed {
  opacity: 1 !important;
}

.konami-viz__key--is-pressed {
  animation: konami-viz__blink 1s ease;
}

@keyframes konami-viz__blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
