.mastfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mastfoot__logo {
  margin-bottom: spacing(extra-tight);
}

.mastfoot__logo,
.mastfoot__nav,
.mastfoot__konami {
  transition: transition(opacity, slower);
  opacity: 1;

  @include page-loading {
    opacity: 0;
  }
}

.mastfoot__logo,
.mastfoot__nav {
  transition-delay: 1s;
}

.mastfoot__konami {
  transition-delay: 2.5s !important;
  margin-top: 5em;
}

