.mastfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mastfoot__nav,
.mastfoot__konami {
  transition: transition(opacity, slower);
  opacity: 1;

  @include page-loading {
    opacity: 0;
  }
}

.mastfoot__nav {
  transition-delay: duration(slower);
}

.mastfoot__konami {
  transition-delay: duration(slowest) !important;
  margin-top: spacing();
}

