.masthead {
  overflow: hidden;
  display: flex;
  align-items: baseline;

  transition: transition(opacity, slower);
  transition-delay: duration(slower);

  @include page-loading {
    opacity: 0 !important;
  }
}

.masthead__logo {
  margin-right: spacing();
}
