.nav__link {
  font: weight(body) 1rem family(headings);
  line-height: 1em;
  color: color-body-text-subdued('strong');
  transition: transition(color);
  text-decoration: none;
  margin-right: spacing();

  @extend .highlight;

  &:last-child {
    margin-left: 0;
  }

  &::after {
    transition: transition(background-color);
    background-color: transparent;
  }

  &:hover {
    color: color(body-text);

    &::after {
      background-color: rgba(color(body-text), .1);
    }
  }
}

.nav__link--is-active {
  color: color(body-text);

  &::after {
    background-color: rgba(color(accent), 0.5) !important;
  }
}
