.text--huge {
  font: weight(body-huge) rem(90px) family(body);
  margin: 1em 0;

  @media all and (max-width: 1000px) {
    font-size: rem(72px);
  }

  @media all and (max-width: 580px) {
    font-size: rem(50px);
  }

  @media all and (max-width: 374px) {
    font-size: rem(38px);
  }
}

.text--huge p,
.text--huge h1 {
  font: inherit;
  line-height: 1.1em;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  text-decoration: none;
  color: color(body-text);
  position: relative;

  span {
    border-bottom: solid 0.14em color(body-text);
    transition: transition(border-color);
    line-height: 1em;
    display: inline-block;
    margin-right: 0.3em;
  }

  .link__external-icon {
    transition: transition(fill);
    position: absolute;
    width: 0.3em;
    top: 0.3em;
    right: 0em;
  }

  &:hover {
    span {
      border-color: color(accent);
    }

    .link__external-icon {
      fill: color(accent);
    }
  }
}

.link--shopify:hover {
  span {
    border-color: color(brand-shopify);
  }

  .link__external-icon {
    fill: color(brand-shopify);
  }
}
