[data-waypoint-section="active"] {
  transition: transition(opacity, slower);
  opacity: text-opacity(strong);
}

[data-waypoint-section="visible"] {
  transition: transition(opacity, slower);
  opacity: 1;
}