.hero {
    margin-top: $spacing-xl;
    overflow: hidden;

    position: relative;

    &__content {
        margin-top: $spacing-m;

        &__title {
            margin-bottom: .1em;
        }

        &__sub-title {
            margin-bottom: $spacing-s;
        }
    }
}

.hero {

    @include media-md {
        &__content {
            &__title {
                font-size: 2.6em;
            }
        }
    }

    @include media-sm-max {
        margin-top: 0;

        &__content {
            margin-top: 0;

            &__title {
                margin-bottom: 0;
            }

            &__sub-title {
                margin-bottom: $spacing-s;
            }

            &__list {
                display: none;
            }
        }
    }

}